{% extends getTicketingLayoutTemplate() %}

{% block title %}Ticket #{{ ticket.id }}{% endblock %}


{% block body %}
    <div id="flashbag"></div>
    {% set isAuthor = ticket.author == app.user %}

    <div class="box box-red">
        <div class="box-header with-border">
            <h3 class="box-title">Ticket #{{ ticket.id }}</h3>
            {% if isAuthorOrGranted %}
                <form method="post" class="pull-right">
                    <button class="btn btn bg-ticketing btn-flat" name="public" value="{{ ticket.public == 0 }}"
                            type="submit">
                        Rendre {{ ticket.public ? "privé" : "public" }}
                    </button>
                </form>
            {% endif %}
        </div>
        <!-- form start -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Date</th>
                    <th>Catégorie</th>
                    <th>Statut</th>
                    <th>Assigné à</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span>{{ ticket.author.username }}</span>
                    </td>
                    <td>{{ ticket.createdAt|date("d/m/Y H:i:s") }}</td>
                    <td><span id="cat">{{ ticket.getCategory is not null ? ticket.category.name : "" }}</span>
                        {% if isAuthorOrGranted %}
                            <button class="btn bg-ticketing btn-flat btn-sm pull-right" id="cat_btn" type="button"
                                    data-toggle="modal" data-target="#change_category"
                                    data-id="{{ ticket.id }}">
                                Changer la catégorie
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        {{ ticket.status.value }}
                        {% if (ticket.status.name == "waiting" or ticket.status.name == "pending") and isGranted %}
                            <button class="btn bg-ticketing btn-flat btn-sm pull-right" id="status_btn" type="button"
                                    data-id="{{ ticket.id }}">
                                Mettre {{ ticket.status.name == "waiting" ? "en cours" : "en attente" }}
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        {% if ticket.assignated is not null %}
                            {#{% set message =#}
                                {#" <br> Moyenne : <br>" ~#}
                                {#render(controller('App\\Controller\\Ticket\\RatingController:getUserRating', {#}
                                {#'user_id': ticket.assignated.id#}
                            {#})) ~#}
                                {#render(controller('App\\Controller\\Ticket\\RatingController:getUserClosedTickets', {#}
                                {#'user_id': ticket.assignated.id#}
                            {#} )) %}#}

                        {% endif %}
                        <span>{{ ticket.assignated.username|default("Non assigné") }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="box box-red">
        <div class="box-header with-border">
            <div class="box-title">Description</div>
        </div>
        <div class="box-body">
            {% if ticket.references is not null and ticket.references|length > 0 %}
                <div class="help-block">
                    <ul class="list-unstyled">
                        <li>
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            L'auteur de ce ticket a ajouté les tickets suivants en référence :
                            {% for reference in ticket.references %}
                                {% set route = path("ticketing_detail", {id: reference.id}) %}
                                {% set url = url|merge(["<a target='_blank' href='#{route}'>##{reference.id}</a>"]) %}
                            {% endfor %}
                            {{ url|join(", ")|raw }}
                        </li>
                    </ul>
                </div>
            {% endif %}
            {{ ticket.description|urlreplacer|raw|nl2br }}
        </div>
    </div>

    {% if not ticket.comments.empty %}
        <div class="box box-red">
            <div class="box-header with-border">
                <div class="box-title">Commentaires</div>
            </div>

            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Commentaire</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comment in ticket.comments %}
                        <tr>
                            <td>
                                <span>{{ comment.author.username }}</span>
                            </td>
                            <td>{{ comment.text|urlreplacer|raw|nl2br }}</td>
                            <td>{{ comment.createdAt|date("d/m/Y H:i:s") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if not ticket.closed %}
        <div class="box box-red">
            <div class="box-header with-border">
                <div class="box-title">Répondre</div>
            </div>
            <div class="box-body">
                {{ form_start(form, {'attr': {'class': 'form-inline'} }) }}
                <div class="col-md-8 col-lg-7">
                    <div class="form-group">
                        {{ form_errors(form.text) }}
                        {{ form_widget(form.text, {'attr': {'class': 'form-control', 'cols': '80', 'rows': '5' } }) }}
                        <br>
                        <input id="submit" class="form-control btn bg-ticketing btn-flat margin-top15"
                               value="Envoyer votre réponse" type="submit">
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    {% else %}
        <div class="box box-red">
            <div class="box-header with-border">
                <div class="box-title">Commentaire de clôture</div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Commentaire</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ ticket.closedBy.username }}</td>
                        <td>{{ ticket.closureResponse }}</td>
                        <td>{{ ticket.closedBy|date("d-m-Y h:i:s") }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if isGranted or (isAuthor and not ticket.closed) %}
        <div class="box box-red">
            <div class="box-header with-border">
                {% if isGranted or isAuthor and not ticket.closed %}
                    <div class="box-title">Clôturer le ticket</div>
                {% elseif isGranted and ticket.closed %}
                    <div class="box-title">Réouvrir le ticket</div>
                {% endif %}
            </div>
            <div class="box-body">
                {# Prise en charge du ticket - non assigné et granted #}
                {% if isGranted and (ticket.assignated or ticket.waiting) is empty and not ticket.closed %}
                    <p>Vous devez prendre en charge le ticket pour le clôturer</p>
                    <form method="post">
                        <button class="btn bg-ticketing btn-flat margin-top15" name="manage" value="true"
                                type="submit">
                            Prendre le ticket en charge
                        </button>
                    </form>
                    {# Fermeture du ticket - utilisateur courant est auteur ou modérateur #}
                {% elseif isGranted or isAuthor %}
                    {# Ticket actif #}
                    {% if not ticket.closed %}
                        {# Soit utilisateur courant est auteur soit utilisateur courant est staff et ticket attribué #}
                        {% if isAuthor or (isGranted and (ticket.assignated or ticket.waiting) is not empty) %}
                            {{ form_start(close_form, {'attr': {'class': 'form-inline col-md-6'} }) }}
                            {# Si l'utilisateur courant est l'auteur on cache la zone de réponse #}
                            <div class="form-group">
                                <div>
                                    {{ form_errors(close_form.closureResponse) }}
                                    {{ form_widget(close_form.closureResponse, {
                                        'attr': {'class': 'form-control', 'cols': '80', 'rows': '5'}
                                    }) }}
                                </div>
                                <input id="submit" value="Fermer le ticket"
                                       class="form-control btn bg-ticketing btn-flat margin-top15" type="submit">
                            </div>
                            {{ form_end(close_form) }}
                        {% endif %}

                        {# Ticket inactif #}
                    {% elseif ticket.closed and isGranted %}
                        <form method="post">
                            <button class="btn btn bg-ticketing btn-flat margin-top15" name="open" value="true"
                                    type="submit">
                                Réouvrir le ticket
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}


    {% include "@Ticketing/ticketing/modals/change_category.html.twig" %}

{% endblock %}

