{% extends '@Ticketing/base.html.twig' %}

{% block title %}{{ 'All Tickets'|trans({}, 'TicketingBundle') }} {% endblock %}
{% block header %}<h1>{{ 'All Tickets'|trans({}, 'TicketingBundle') }} </h1>{% endblock %}

{% block body %}
    <h1>{{ 'View all Tickets'|trans({}, 'TicketingBundle') }}</h1>

    {% for status in status_list %}
        <div class="box box-{{ status.style }}">
            <div class="box-header with-border">
                <h3 class="box-title">{{ status.value }}</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-striped data-table" data-status="{{ status.name }}" data-type="list">
                    <thead>
                    <tr>
                        <th>{{ 'number'|trans({}, 'TicketingBundle') }}</th>
                        <th>{{ 'author'|trans({}, 'TicketingBundle') }}</th>
                        <th>Date</th>
                        <th>{{ 'category'|trans({}, 'TicketingBundle') }}</th>
                        <th>{{ 'status'|trans({}, 'TicketingBundle') }}</th>
                        <th>Type</th>
                        <th>{{ 'assignated_to'|trans({}, 'TicketingBundle') }}</th>
                        <th>{{ 'label.priority'|trans({}, 'TicketingBundle') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# AJAX CALL FROM DATATABLES.NET #}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>{{ 'number'|trans({}, 'TicketingBundle') }}</th>
                        <th>{{ 'author'|trans({}, 'TicketingBundle') }}</th>
                        <th>Date</th>
                        <th>{{ 'category'|trans({}, 'TicketingBundle') }}</th>
                        <th class="disabled">{{ 'status'|trans({}, 'TicketingBundle') }}</th>
                        <th class="disabled">Type</th>
                        <th>{{ 'assignated_to'|trans({}, 'TicketingBundle') }}</th>
                        <th>{{ 'label.priority'|trans({}, 'TicketingBundle') }}</th>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    {% endfor %}
{% endblock %}